
Buzco's Conscious Journey/Test Level/Temp/UnityLockfile
Buzco's Conscious Journey/Test Level/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
Buzco's Conscious Journey/Test Level/Library/EditorInstance.json
Buzco's Conscious Journey/Test Level/Library/shadercompiler-UnityShaderCompiler.exe0.log
Buzco's Conscious Journey/Test Level/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
